* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGo";
}

:root {
  --body-collor: #fff;
  --header-border-color: #dbdbdb;
  --orange-button-color: #f93b1d;
  --black-button-collor: #021526;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--body-collor);
}

header {
  width: 100%;
  height: fit-content;
  padding: 38px 162px;
  border-bottom: 1px solid var(--header-border-color);
}

main {
  width: 100%;
  height: fit-content;
  padding: 77px 162px;
}

.filter-and-adding {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  border: 1px solid var(--header-border-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 6px;
  position: relative;
}

.filter-burttons {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  gap: 4px;
  color: var(--black-button-collor);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: var(--body-collor);
}

.hidden-filters {
  position: absolute;
  top: 60px;
  left: -1px;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--header-border-color);
  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  flex-direction: column;
}

.hide {
  display: none;
}

.hidden-filters > p {
  margin-bottom: 24px;
}

.rotate {
  transform: rotate(180deg);
}

.hidden-filters > form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 17px;
}

.hidden-filters > form > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  width: 163px;
  display: inline-block;
}

.checkbox-inputs {
  width: 20px;
  height: 20px;
}

.choose-button-div {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / span 3;
  margin-top: 15px;
}

.choose-button {
  border: 1px solid var(--orange-button-color);
  color: var(--body-collor);
  background-color: var(--orange-button-color);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.adding {
  display: flex;
  gap: 16px;
  align-items: center;
}

.adding-list-button {
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid var(--orange-button-color);
  color: var(--body-collor);
  background-color: var(--orange-button-color);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.adding-list-button > img {
  height: 22px;
}

.adding-agent-button {
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid var(--orange-button-color);
  color: var(--orange-button-color);
  background-color: var(--body-collor);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.adding-agent-button > img {
  height: 22px;
}
.price-hidden {
  left: 150px;
}

.price-hidden > form {
  grid-template-columns: repeat(2, 1fr);
}
.prise-input {
  margin: 0 0 24px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 6px;
  font-weight: 400;
}

.prise-input > input {
  border: none;
  outline: none;
}

.min-price {
  display: flex;
  flex-direction: column;
  gap: 220px;
}

.min-price > h5 {
  align-self: flex-start;
  margin-bottom: 16px;
  color: #021526;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.min-price > button {
  align-self: flex-start;
  border: none;
  background-color: #fff;
  margin-bottom: 8px;
  color: #2d3648;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#box_1 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

body.dark {
  background-color: var(--black-button-collor);
}

.max-price {
  display: flex;
  flex-direction: column;
}

.max-price > h5 {
  align-self: flex-start;
  margin-bottom: 16px;
  color: #021526;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.max-price > button {
  align-self: flex-start;
  border: none;
  background-color: #fff;
  margin-bottom: 8px;
  color: #2d3648;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.size-hidden {
  left: 370px;
}

.size-hidden > form {
  grid-template-columns: repeat(2, 1fr);
}

.room-hidden {
  left: 500px;
}

.room-hidden > form {
  grid-template-columns: repeat(2, 1fr);
}
/* ################ fonts  ######################## */
@font-face {
  font-family: FiraGo;
  src: url(../fonts/firago/FiraGO_OTF_1001/Roman/FiraGO-Regular.otf);
}
